<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Speed Test</title>
    <link rel="stylesheet" href="css/speedtest.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="js/speedtest.js" defer></script>
    <link rel="icon" href="images/favicon.png" type="image/png" />
    <!--Google fonts-->
    <link href='https://fonts.googleapis.com/css?family=Abril Fatface' rel='stylesheet'>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</head>

<body>
    <header id="header">
        <nav class="navbar navbar-expand-lg" style="background:linear-gradient(#121C84,#4a4aaf,#8278DA);">
            <div class="container-fluid">
                <a class="navbar-brand" href="/" style="font-family: 'Abril Fatface';color: #fff;">GoTyping</a>

            </div>
        </nav>
    </header>
    <div class="container1">
        <div class="wrapper">
            <input type="text" class="input-field">
            <div class="content-box">
                <div class="typing-text">
                    <p id="paragraph"></p>
                </div>
                <div class="content">
                    <ul class="result-details">
                        <li class="time">
                            <p>
                                Time Left:
                            </p>
                            <span><b>20</b>s</span>
                        </li>
                        <li class="mistake">
                            <p>
                                Mistakes:
                            </p>
                            <span>0</span>
                        </li>
                        <li class="wpm">
                            <p>
                                WPM:
                            </p>
                            <span>0</span>
                        </li>
                        <li class="cpm">
                            <p>
                                Acc:
                            </p>
                            <span>0</span>
                        </li>
                    </ul>
                    <button>Try Again</button>
                </div>
            </div>
        </div>
    </div>
</body>

</html>