.countDownContainer
{
    position: fixed;
    top: 0;
    left: 0;

    display: flex;
    overflow: hidden;

    width: 100%;
    height: 100vh;

    background: transparent;

    align-items: center;
    justify-content: center;
}

.countDownContainer h1
{
    font-size: 200px;

    color: #fff;
}
