* {
  font-family: "Cormorant Garamond", serif;

  box-sizing: border-box;
  margin: 0;
  padding: 0;

  scroll-behavior: smooth;
}

/* Default style for any paragraph element.*/
p {
  font-family: "Lato", sans-serif;
  font-size: 18px;
  font-weight: 300;

  text-align: center;
}

/* Default style for any h1 element i.e element used in sentence */
h2 {
  font-size: 30px;
  /* font-size: 50px; */

  position: relative;

  text-align: center;

  color: #353535;
}
