.container {
    position: relative;
    width: 100%;
    max-width: 600px;
    height: auto;
    background: #ffffff;
    box-shadow: 0 0 5px #999999;
    padding-bottom: 10px; 
    margin-top: 178px;
}
.container h2{
    margin: 0 0 15px 0;
    font-weight: 700;
}
.wrapper {
    margin: 0 auto;
    width: 100%;
    max-width: 1140px;
    /* min-height: 100vh; */
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
body{
    background-image: url(../images/homeBannerOriginal.jpg);
    background-size: cover;
    /* test */
}
