.messagePopUp
{
    position: fixed;
    z-index: 1500;
    top: 0;
    right: -350px;

    display: flex;

    width: 300px;
    height: 130px;
    margin: 5px;

    transition: 1s;

    color: #000;
    background: #fff;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 10%), 0 4px 6px -2px rgb(0 0 0 / 5%);

    justify-content: center;
    align-items: center;
}

.messagePopUp h4
{
    font-size: 20px;

    position: absolute;
    top: 0;
    left: 0;

    padding: 5px 5px;
}

.messagePopUp p
{
    overflow: hidden;

    width: 100%;
    padding: 5px 5px;

    white-space: nowrap;
    text-overflow: ellipsis;
}

/* * Also toogle popup */
.togglePopUp
{
    position: fixed;
    z-index: 1500;
    right: 0;
    bottom: 0;

    width: 15px;
    margin: 2px 5px;
}

.togglePopUp input
{
    border: 1px solid black;
}
