/* This css file contains the selectionMenuContainer css for the project. */

.selectionMenuContainer
{
    position: absolute;
    z-index: 1000;
    top: 0;
    left: 0;

    display: flex;
    flex-direction: column;

    width: 100%;
    height: 100vh;
    padding: 30px;

    color: #fff;
    background: url(../images/homeBanner.jpg);
    background-color: #8c21d4;
    background-repeat: no-repeat;
    background-size: cover;

    justify-content: center;
    align-items: flex-start;
}

.selectionMenuContainer h3
{
    font-size: 100px;

    z-index: 1;

    padding: 20px;
}

.selectionMenuContainer p
{
    font-size: 20px;

    z-index: 1;

    padding: 20px;

    text-align: left;
}

.buttonContainer
{
    display: flex;

    padding: 20px;

    gap: 30px;
}

.typingSvg
{
    position: absolute;
    right: 0;
    bottom: 10px;

    width: 50%;
    height: 80%;

    pointer-events: none;
}

.navb{
    background-color: #8c21d4;
    font-family: 'Abril Fatface';
    color: #fff;
}
/* For responsiveness */
@media (max-width: 780px)
{
    .typingSvg
    {
        position: absolute;
        right: 0;
        bottom: 10px;

        width: 100%;
        height: 40%;

        pointer-events: none;
    }
    .buttonContainer
    {
        display: flex;

        margin-bottom: 60%;
        padding: 0;
        padding: 0;

        gap: 0;
    }

    .selectionMenuContainer
    {
        height: 100%;
    }

    .selectionMenuContainer h3
    {
        font-size: 45px;
        line-height: 42px;

        padding: 10px;
    }

    .selectionMenuContainer p
    {
        font-size: 20px;

        padding: 10px;
    }
}
